.password-free-login-page-wrapper {
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04);
    border-bottom: none;
    padding: 32px 24px 0px 24px;
    display: flex;
    flex-direction: column;
}

#registerform {
    padding: 5px 24px 34px;
    margin-top: 0px;
    border-top: none;
}

#loginform {
    padding: 5px 24px 34px;
    margin-top: 0px;
    border-top: none;
}

#login-message {
    display: none;
}

.password-free-button-wrapper {
    align-items: normal !important;
}

.password-free-login-button-wrapper {
    display: flex;
}

.password-free-or-wrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.password-free-login-or-line-before {
    width: 116px;
    border: 1px solid rgba(140, 143, 148, 1);
    position: relative;
    top: 23px;
}

.password-free-login-page-or {
    margin-top: 10px;
    width: 20px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    position: relative;
    left: 124px;
}

.password-free-login-or-line-after {
    width: 116px;
    bottom: 12px;
    border: 1px solid rgba(140, 143, 148, 1);
    position: relative;
    left: 152px;
    top: -13px;
}