.password-free-overview-wrapper {
    font-family: 'Source Sans Pro';
    padding-top: 30px;
    padding-left: 40px;
    height: 800px;
}

#password-free-overview-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(153, 153, 153, 0.3);
    z-index: 9990;
    justify-content: center;
    align-items: center;
    display: none;
}

.password-free-overview-content {
    padding-top: 21px;
}

.password-free-overview-title {
    width: 120px;
    height: 40px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

.password-free-overview-text-wrapper {
    border-radius: 8px 8px 8px 8px;
    display: flex;
    left: 10px;
    position: relative;
    max-width: 557px;
    min-height: 110px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    background: rgba(253, 253, 253, 1);
}

.password-free-overview-text {
    margin: 15px 15px 15px 15px;
    max-width: 550px;
    min-height: 80px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.password-free-overview-context-img {
    float: left;
}

.password-free-overview-error {
    margin-top: 15px;
    max-width: 705px;
    height: 112px;
    border-radius: 8px 8px 8px 8px;
    background: rgba(253, 253, 253, 1);
}

.password-free-error-text {
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 28px;
    color: #CC1F1F;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.password-free-reinstall-text {
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.password-free-overview-buttons {
    margin-top: 30px;
    width: 514px;
    height: 250px;
    font-family: 'Source Sans Pro';
}

.password-free-overview-user-disable-register-block {
    font-family: 'Source Sans Pro';
    width: 705px;
    height: 136px;
    background: rgba(253, 253, 253, 1);
    border-radius: 8px;
    margin-bottom: 30px;
}

.password-free-overview-user-disable-register-block-title {
    width: 365px;
    height: 28px;
    padding-top: 20px;
    margin-left: 171px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: rgba(204, 31, 31, 1);

}

.password-free-overview-user-disable-register-block-text {
    width: 525px;
    height: 48px;
    margin-left: 90px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(18, 18, 18, 1);
    float: left;
}

.password-free-overview-default-button-help-btn-error {
    margin-left: 5px;
    margin-top: 21px;
}

.password-free-overview-buttons-title {
    width: 595px;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.password-free-overview-buttons-text {
    margin-top: 5px;
    width: 511px;
    height: 48px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.password-free-overview-buttons-text a {
    color: rgba(60, 100, 244, 1);
    font-weight: 400;
    text-decoration: none;
}

.password-free-overview-buttons-context {
    margin-top: 15px;
    width: 502px;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    background: rgba(201, 202, 208, 1);
}

.password-free-overview-buttons-context-button {
    width: 42px;
    height: 20px;
    margin-left: 10px;
    margin-top: 8px;
    float: left;
}

.password-free-overview-buttons-context-short-code {
    width: 62px;
    height: 20px;
    margin-left: 258px;
    margin-top: 8px;
    float: left;
}

.password-free-overview-buttons-context-help-btn {
    margin-top: 8px;
    margin-left: 2px;
}

.password-free-overview-buttons-part {
    width: 502px;
    height: 66px;
    border-bottom: 1px solid rgba(217, 220, 233, 1);
    display: inline-flex;
}

.password-free-overview-buttons-button {
    font-family: Arial;
    margin-right: 65px;
    box-sizing: border-box;
    padding-top: 6px;
    position: relative;
    top: 15px;
    left: 15px;
    width: 234px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(11, 59, 117, 1);
    background: #FFFFFF;
}

.password-free-overview-buttons-button-auth-btn {
    margin: 0px 6px 5px 15px;
    vertical-align: middle;
}

.password-free-overview-buttons-button span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #0B3B75;
    text-align: center;
}

.password-free-overview-buttons-short-code {
    /*margin-left: 95px;*/
    margin-top: 21px;
    width: 82px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.password-free-overview-copy-btn {
    margin-left: 78px;
    margin-top: 21px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#password-free-overview-popup-help {
    display: none;
    width: 380px;
    height: 363px;
    left: 229px;
    top: -28.5px;
    border-radius: 4px;
    background: rgba(253, 253, 253, 1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    padding-left: 20px;
    z-index: 9999;
    font-family: 'Source Sans Pro';
    text-align: left;
}

.password-free-overview-popup-help-title {
    width: 360px;
    height: 24px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.password-free-overview-popup-help-context {
    width: 360px;
    height: 48px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.password-free-overview-help-popup-img {
    margin-top: 15px;
}

.password-free-overview-short-popup-class {
    position: fixed;
    left: 50%;
    bottom: 3%;
    border-radius: 3px;
    z-index: 9998;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    display: none;
    margin: auto;
}

#password-free-overview-popup-copy {
    width: 144px;
    height: 30px;
    background: linear-gradient(0deg, #D3F5D9, #D3F5D9),
    linear-gradient(0deg, #146622, #146622);
    border: 1px solid rgba(20, 102, 34, 1);
}

.password-free-overview-short-popup-text {
    margin-left: 15px;
    margin-top: 8px;
    float: left;
    text-align: center;
    letter-spacing: 0em;
}

#password-free-overview-popup-copy img {
    cursor: pointer;
    position: relative;
    margin-top: 6px;
    margin-left: 18px;
}

#password-free-overview-popup-copy div {
    width: 95px;
    height: 14px;
}

#password-free-overview-synchronization-process-popup {
    width: 263px;
    height: 30px;
    transform: translate(-25%);
    border: 1px solid rgba(232, 117, 34, 1);
    background: rgba(254, 240, 219, 1);
}

#password-free-overview-synchronization-process-popup div {
    width: 235px;
    height: 14px;
}

#password-free-overview-synchronization-success-popup {
    width: 201px;
    height: 30px;
    border: 1px solid rgba(20, 102, 34, 1);
    background: rgba(211, 245, 217, 1);
}

#password-free-overview-synchronization-success-popup div {
    width: 155px;
    height: 14px;
}

#password-free-overview-synchronization-success-popup img {
    cursor: pointer;
    position: relative;
    margin-top: 6px;
    margin-left: 15px;
}

.password-free-overview-default-button {
    margin-top: 20px;
    width: 460px;
    height: 47px;
}

.password-free-overview-toggle-wrapper {
    height: 100%;
    width: 40px;
    float: left;
    margin-top: 3px;
}

.password-free-overview-toggle-input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.password-free-overview-toggle-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 38px;
    height: 14px;
    background: #9EB3FC;
    display: block;
    border-radius: 100px;
    position: relative;
    top: -15px;
}

.password-free-overview-toggle-label:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0px;
    width: 22px;
    height: 22px;
    background: #ffffff;
    border-radius: 90px;
    transition: 0.3s;
}

.password-free-overview-toggle-input + .password-free-overview-toggle-label {
    background: #9EB3FC;
}

.password-free-overview-toggle-input:checked + .password-free-overview-toggle-label:after {
    background: #3C64F4;
    left: calc(100%);
    transform: translateX(-100%);
}

.password-free-overview-default-button-text {
    font-weight: 300;
    margin-left: 50px;
    width: 410px;
    height: 47px;
}

.password-free-overview-default-button-title {
    width: 272px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(29, 31, 38, 1);
    float: left;
}

.password-free-overview-default-button-help-btn {
    margin-left: 7px;
    margin-top: 3px;
}

.password-free-overview-default-button-info {
    font-size: 14px;
    line-height: 20px;
    color: rgba(94, 99, 122, 1);
}

.password-free-overview-dropdown-wrapper {
    margin-top: 15px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    width: 479px;
    height: 36px;
}

.password-free-overview-dropdown-text {
    margin-top: 5px;
    float: left;
}

.password-free-overview-dropdown-btn {
    cursor: pointer;
    margin-top: 5px;
    color: rgba(60, 100, 244, 1);
    font-weight: 400;
    user-select: none;
    float: left;
}

.password-free-overview-dropdown-arrow {
    cursor: pointer;
    margin-top: 4px;
}

.password-free-overview-dropdown-context {
    display: none;
}

#password-free-overview-popup-help-register-error {
    font-family: 'Source Sans Pro';
    display: none;
    width: 432px;
    height: 326px;
    position: relative;
    top: -13px;
    left: 630px;
    border-radius: 4px;
    background: rgba(253, 253, 253, 1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
    padding-top: 20px;
    box-sizing: border-box;
}

.password-free-overview-popup-help-error-title {
    margin-left: 20px;
    width: 360px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(18, 18, 18, 1);
    text-align: left;
}

.password-free-overview-popup-help-error-context {
    margin-top: 15px;
    margin-left: 20px;
    width: 377px;
    height: 72px;
    font-family: 'Source Sans Pro';
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgba(18, 18, 18, 1);
}

.password-free-overview-popup-help-error-context span {
    font-weight: 400;
}

.password-free-overview-help-popup-error-img {
    margin-top: 15px;
    margin-left: 20px;
    width: 392px;
    height: 160px;
}

.password-free-overview-deactivation-checkbox {
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 15px;
    width: 528px;
    height: 67px;
}

.password-free-overview-checkbox-label, .password-free-overview-checkbox-label:before, .password-free-overview-checkbox-label:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.password-free-overview-checkbox-container {
    float: left;
}

.password-free-overview-checkbox-container input {
    width: 21px;
    height: 20px;
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    border-radius: 4px;
}

.password-free-overview-checkbox-container label {
    position: relative;
    cursor: pointer;
}

.password-free-overview-checkbox-container label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid rgba(217, 220, 233, 1);
    border-radius: 4px;
    background: white;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.password-free-overview-checkbox-container input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #3C64F4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.password-free-overview-checkbox-title {
    margin-left: 33px;
    width: 408px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgba(29, 31, 38, 1);
}

.password-free-overview-checkbox-text {
    margin-top: 3px;
    margin-left: 33px;
    width: 497px;
    height: 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: rgba(94, 99, 122, 1);
}

.password-free-synchronization-fail-block {
    margin-bottom: 30px;
    width: 705px;
    height: 136px;
    border-radius: 5px;
    background: rgba(253, 253, 253, 1);
    box-sizing: border-box;
    padding: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}


.password-free-synchronization-fail-block-title {
    width: 303px;
    height: 28px;
    text-align: center;
    font-size: 20px;
    color: rgba(204, 31, 31, 1);
    line-height: 28px;
}

.password-free-synchronization-fail-block-text {
    margin-top: 20px;
    width: 597px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    color: rgba(29, 31, 38, 1);
    line-height: 24px;
}

.password-free-synchronization-fail-block-text a {
    text-decoration: none;
}

.password-free-synchronization-fail-popup {
    width: 464px;
    height: 256px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    background: rgba(253, 253, 253, 1);
    left: 50%;
    top: 50%;
    background-color: white;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.password-free-synchronization-fail-popup-title {
    width: 373px;
    height: 24px;
    text-align: center;
    font-weight: 600;
    color: rgba(204, 31, 31, 1);
}

.password-free-synchronization-fail-popup-text {
    margin-top: 20px;
    width: 404px;
    height: 96px;
    text-align: left;
    font-weight: 300;
}

.password-free-synchronization-fail-popup-buttons {
    margin-top: 20px;
    width: 233px;
    height: 36px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.password-free-synchronization-fail-popup-button-support {
    cursor: pointer;
    background: rgba(60, 100, 244, 1);
    font-weight: 600;
    color: rgba(253, 253, 253, 1);
    border: none;
    border-radius: 4px;
    width: 136px;
    height: 36px;
}

.password-free-synchronization-fail-popup-button-close {
    width: 77px;
    height: 36px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgba(60, 100, 244, 1);
    color: rgba(60, 100, 244, 1);
    background: rgba(255, 255, 255, 1);
}

.password-free-synchronization-popup {
    display: none;
    width: 464px;
    height: 208px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    background: rgba(253, 253, 253, 1);
    left: 50%;
    top: 50%;
    background-color: white;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    align-items: center;
}

.password-free-synchronization-popup-title {
    width: 373px;
    height: 24px;
    text-align: center;
    font-weight: 600;
}

.password-free-synchronization-popup-text {
    margin-top: 20px;
    width: 404px;
    height: 48px;
    text-align: left;
    font-weight: 300;
}

.password-free-synchronization-popup button {
    cursor: pointer;
    margin-top: 20px;
    width: 79px;
    height: 36px;
    border-radius: 4px;
    background: rgba(60, 100, 244, 1);
    font-weight: 600;
    color: rgba(253, 253, 253, 1);
    border: none;
}

.password-free-activation-popup {
    font-family: 'Source Sans Pro';
    color: black;
    letter-spacing: 0em;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px 5px 5px 5px;
    left: 50%;
    top: 50%;
    background-color: white;
    display: none;
    position: fixed;
    bottom: 23px;
    width: 450px;
    height: 450px;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.password-free-activation-popup-header {
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    width: 381px;
    height: 48px;
    text-align: center;
    font-weight: 600;
}

.password-free-activation-popup-content {
    text-align: left;
    padding-top: 20px;
    margin: auto;
    width: 404px;
    height: 264px;
    font-weight: 300;
}

.password-free-activation-popup span {
    font-weight: 400;
}

.password-free-activation-popup ul {
    margin: 0;
    list-style-type: disc;
}

.password-free-activation-popup-ul {
    margin-left: 25px;
}

.password-free-activation-btn-cancel {
    border-radius: 4px 4px 4px 4px;
    top: 92%;
    left: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #3C64F4;
    text-align: center;
    width: 79px;
    height: 36px;
    color: white;
    line-height: 36px;
    font-weight: 700;
}

