.password-free-support-wrapper {
    font-family: 'Source Sans Pro';
    padding-top: 30px;
    padding-left: 40px;
}

.password-free-support-title {
    width: 120px;
    height: 40px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
}

.password-free-support-border {
    margin-top: 15px;
    width: 705px;
    height: 90px;
    top: 134px;
    left: 199px;
    border: 1px solid rgba(253, 253, 253, 1);
    border-radius: 8px 8px 8px 8px;
    background: rgba(253, 253, 253, 1);
}

.password-free-support-content {
    margin-top: 15px;
    margin-left: 18px;
    width: 146px;
    height: 60px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.password-free-support-content ul {
    outline: none;
    margin-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

.password-free-support-content li {
    outline: none;
    margin: 0;
    color: rgba(60, 100, 244, 1);
    border-collapse:collapse;
}

.password-free-support-content a {
    outline: none;
    color: rgba(60, 100, 244, 1);
    text-decoration: none;
}

.password-free-support-link:hover, .password-free-support-link:active, .password-free-support-link:focus {
    outline: none;
    text-decoration: none;
}

