.password-free-customization-wrapper {
    font-family: 'Source Sans Pro';
    padding-top: 30px;
    padding-left: 40px;
}

.password-free-customization-title {
    width: 120px;
    height: 40px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: rgba(18, 18, 18, 1);
}

.password-free-customization-text {
    margin-top: 14px;
    width: 361px;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(18, 18, 18, 1);
}

.password-free-customization-setting-wrapper {
    margin-top: 16px;
    margin-bottom: 30px;
    height: 821px;
    width: 1545px;
    display: flex;
    justify-content: space-between;
}

.password-free-customization-settings {
    width: 507px;
    height: 821px;
    box-sizing: border-box;
    padding: 20px 15px 20px 15px;
    border-radius: 8px;
    background: rgba(253, 253, 253, 1);
    float: left;
}

.password-free-customization-settings-alignment {
    width: 416px;
    height: 61px;
}

.password-free-customization-settings-alignment-text {
    margin-top: 6px;
    width: 67px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    float: left;
}

.password-free-customization-settings-alignment-items {
    margin-left: 168px;
    height: 61px;
    width: 252px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(140, 147, 173, 1);
}

.password-free-customization-settings-alignment-item-text {
    margin-top: 6px;
    height: 20px;
}

.password-free-customization-settings-alignment-item-wrapper {
    margin-right: 5px;
    width: 58px;
    float: left;
}

.password-free-customization-settings-alignment-item {
    cursor: pointer;
    margin-left: 5.5px;
    box-sizing: border-box;
    width: 47px;
    height: 37px;
    display: flex;
    border-radius: 3px;
    border: 1px solid rgba(140, 147, 173, 1);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.password-free-customization-settings-alignment-item-inner-left {
    width: 15.5px;
    height: 8.4px;
    margin-left: -17px;
    border-radius: 1px;
    background: rgba(60, 100, 244, 1);
}

.password-free-customization-settings-alignment-item-inner-center {
    width: 15.5px;
    height: 8.4px;
    border-radius: 1px;
    background: rgba(60, 100, 244, 1);
}

.password-free-customization-settings-alignment-item-inner-right {
    margin-left: 18px;
    width: 15.5px;
    height: 8.4px;
    border-radius: 1px;
    background: rgba(60, 100, 244, 1);
}

.password-free-customization-settings-alignment-item-inner-full {
    width: 34px;
    height: 8.4px;
    border-radius: 1px;
    background: rgba(60, 100, 244, 1);
}

.password-free-customization-settings-alignment-item-inner {
    margin-top: 4px;
    width: 32.58620834350586px;
    height: 8.3695650100708px;
    border-radius: 1px;
    border: 1px solid rgba(140, 147, 173, 1);
}

.password-free-customization-btn {
    margin-top: 50px;
    width: 507px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.password-free-customization-btn-apply {
    cursor: pointer;
    width: 80px;
    height: 36px;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(60, 100, 244, 1);
    background: rgba(60, 100, 244, 1);
    color: rgba(253, 253, 253, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.password-free-customization-btn-default {
    cursor: pointer;
    width: 165px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(60, 100, 244, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgba(60, 100, 244, 1);
}

.password-free-customization-btn-default:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.password-free-customization-btn-apply:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.password-free-customization-settings-logo {
    width: 282px;
    height: 61px;
    margin-top: 15px;
}

.password-free-customization-settings-logo-text {
    margin-top: 6px;
    width: 122px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    float: left;
}

.password-free-customization-settings-logo-items {
    width: 133px;
    height: 61px;
    margin-left: 174px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(140, 147, 173, 1);
}

.password-free-customization-settings-logo-item-wrapper {
    width: 45px;
    height: 61px;
    margin-right: 18px;
    float: left;
}

.password-free-customization-settings-logo-item {
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 47px;
    height: 37px;
    border-radius: 3px;
    display: flex;
    border: 1px solid rgba(140, 147, 173, 1);
    align-items: center;
    justify-content: center;
}

#password-free-customization-settings-logo-default-id {
    background: rgba(240, 243, 255, 1);
}

#password-free-customization-settings-logo-inverse-id {
    background: rgba(18, 18, 18, 1);
}

.password-free-customization-settings-logo-item-text {
    text-align: center;
    margin-top: 6px;
    height: 20px;
}

.password-free-customization-settings-default {
    margin-top: 25px;
    width: 477px;
    height: 297px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.password-free-customization-settings-default-title {
    width: 90px;
    height: 24px;
    font-weight: 600;
    color: rgba(29, 31, 38, 1);
}

.password-free-customization-settings-default-background {
    margin-top: 10px;
    width: 258px;
    height: 24px;
}

.password-free-default-text {
    width: 175px;
    height: 24px;
    float: left;
}

.password-free-default-text-mg {
    margin-top: 6px;
}

.password-free-customization-settings-color {
    display: flex;
    flex-direction: row;
}

.password-free-customization-color-input {
    width: 60px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.password-free-customization-settings input[type="text"] {
    margin-top: -6px;
    width: 40px;
    margin-left: 0px;
    height: 35px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    padding-left: 0px;
    padding: 0 0 0 0;
    box-sizing: content-box;
    border: 1px solid rgba(253, 253, 253, 1);
    padding-right: 6px;
    background: rgba(253, 253, 253, 1);
}

.password-free-customization-settings input[type="text"]:focus {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 220, 233, 1) !important;
    padding-left: 8px !important;
    box-shadow: none;
}

.password-free-customization-settings input[type="text"]:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgba(253, 253, 253, 1) inset;
}

.password-free-customization-settings input[type="text"]:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px rgba(255, 255, 255, 1) inset;
}

.password-free-customization-settings input[type="color"] {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background-color: transparent;
    border: 1px solid rgba(217, 220, 233, 1);
    padding: 0 0 0 0;
    cursor: pointer;
    box-shadow: none;
    margin-left: 10px;
}

.password-free-customization-settings input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.password-free-customization-settings input[type="color"]::-webkit-color-swatch {
    border-radius: 3px;
    border: none;
}

.password-free-customization-settings input[type="color"]::-moz-color-swatch {
    border-radius: 3px;
    border: none;
}

.password-free-customization-settings-default-corner {
    margin-top: 10px;
    height: 35px;
}

.password-free-customization-settings input[type="number"] {
    min-width: 60px;
    height: 35px;
    border: 1px solid rgba(217, 220, 233, 1);
    padding: 0 0 0 8px;
    margin: 0px;
    box-sizing: border-box;
}

.password-free-customization-settings input[type="number"]::-webkit-outer-spin-button,
.password-free-customization-settings input[type="number"]::-webkit-inner-spin-button {
    cursor: pointer;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.password-free-customization-settings input[type="number"]:focus {
    border: 1px solid rgba(217, 220, 233, 1);
    box-shadow: none;
}

.password-free-customization-settings-default-border {
    margin-top: 5px;
    height: 35px;
}

.password-free-customization-settings-default-border-color {
    margin-top: 10px;
    width: 258px;
    height: 24px;
}

.password-free-customization-settings-default-text-font {
    margin-top: 10px;
    height: 75px;
    flex-direction: row;
}

.password-free-default-text-context {
    width: 302px;
    height: 75px;
    margin-left: 174px;
}

.password-free-customization-settings select {
    width: 234px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    border: 1px solid rgba(217, 220, 233, 1);
    margin-right: 5px;
    float: left;
}

.password-free-customization-settings select:focus,
.password-free-customization-settings select:active {
    border: 1px solid rgba(217, 220, 233, 1);
    box-shadow: none;
}

.password-free-default-text-btn {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    float: left;
    display: flex;
    font-weight: 400;
    box-sizing: border-box;
    user-select: none;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#password-free-default-text-btn-u, #password-free-hover-text-btn-u {
    text-decoration: underline;
}

.password-free-customization-settings-default-text-color {
    margin-top: 10px;
}


.password-free-customization-show-buttons {
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    width: 1010px;
    height: 252px;
    display: inline-table;
    border: 1px solid rgba(201, 202, 208, 1);
    border-radius: 8px;
}

.password-free-customization-show-buttons-title {
    width: 197px;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.password-free-customization-show-buttons-default-text {
    margin-top: 15px;
    width: 88px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.password-free-customization-show-buttons-default {
    display: inline-block;
    /*width: 600px;*/
}

.password-free-button {
    margin-top: 10px;
    margin-right: 20px;
}

.password-free-customization-show-buttons-hover-text {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.password-free-button-hover {
    margin-top: 10px;
    margin-right: 20px;
    display: inline-flex;
    padding: 6px 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.password-free-button-hover img {
    margin-right: 5px;
    float: left;
}

.password-free-customization-settings-hover {
    width: 477px;
    height: 297px;
    width: 1542px;
    margin-top: 25px;
}


.password-free-customization-redirect-title {
    width: 136px;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(18, 18, 18, 1);
}

.password-free-customization-redirect-settings {
    padding: 20px 15px 20px 15px;
    box-sizing: border-box;
    margin-top: 15px;
    width: 507px;
    height: 175px;
    border-radius: 8px;
    background: rgba(253, 253, 253, 1);
    display: inline-table;
}

.password-free-customization-redirect-text {
    width: 477px;
    height: 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.password-free-customization-redirect-text span {
    font-weight: 400;
}

.password-free-customization-redirect-block {
    margin-top: 15px;
    width: 477px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-free-customization-mg-5 {
    margin-top: 5px;
}

.password-free-customization-redirect-block-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.password-free-customization-redirect-block-error {
    width: 178px;
    height: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: rgba(204, 31, 31, 1);
    margin-left: 175px;
    display: none;
}

.password-free-customization-redirect-settings input[type="text"] {
    width: 301px;
    height: 35px;
    border: 1px solid rgba(217, 220, 233, 1);
}

.password-free-customization-redirect-settings input[type="text"]:focus {
    box-shadow: none;
}

.password-free-customization-popup-apply {
    position: fixed;
    bottom: 28px;
    left: 50%;
    bottom: 3%;
    padding: 8px 7px 8px 15px;
    border-radius: 3px;
    border: 1px;
    background: rgba(211, 245, 217, 1);
    border: 1px solid rgba(20, 102, 34, 1);
    z-index: 9998;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    align-items: center;
    user-select: none;
    display: none;
}

.password-free-customization-popup-apply-text {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0em;
}

.password-free-customization-popup-apply img {
    cursor: pointer;
    position: relative;
    margin-left: 18px;
    width: 9px;
    height: 9px;
    top: -3px;
}


#password-free-customization-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(153, 153, 153, 0.3);
    z-index: 9990;
    justify-content: center;
    align-items: center;
}

.password-free-customization-change-popup {
    user-select: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    height: 232px;
    width: 464px;
    background-color: white;
    position: fixed;
    z-index: 9999;
    padding: 30px 30px 30px 30px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.password-free-customization-change-popup-title {
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.password-free-customization-change-popup-text {
    margin-top: 20px;
    width: 404px;
    height: 72px;
    font-weight: 300;
    text-align: left;
}

.password-free-customization-change-popup-buttons {
    margin-top: 20px;
    width: 263px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.password-free-customization-change-popup-stay {
    cursor: pointer;
    height: 36px;
    width: 128px;
    border-radius: 4px;
    background: rgba(60, 100, 244, 1);
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
}

.password-free-customization-change-popup-leave {
    cursor: pointer;
    width: 115px;
    height: 36px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(60, 100, 244, 1);
    color: rgba(60, 100, 244, 1);
    font-weight: 400;
}