.password-free-header-wrapper {
    height: 49px;
    widht: 100%;
    border-bottom: 1px solid #D9DCE9;
    position: relative;
}

.password-free-header-wrapper img {
    margin-top: 10px;
    margin-left: 15px;
}

#wpcontent {
    padding-left: 0;
}
