@font-face {
    font-weight: 300;
    font-family: 'Source Sans Pro';
    src: url("../fonts/SourceSansPro-Light.ttf");
}

@font-face {
    font-weight: 400;
    font-family: 'Source Sans Pro';
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-weight: 600;
    font-family: 'Source Sans Pro';
    src: url("../fonts/SourceSansPro-Semibold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto&display=swap');

#password-free-page-wrapper {
    width: 100%;
    height: 100%;
    display: none;
}

.password-free-admin-menu-red-dot {
    position: relative;
    left: 3px;
    top: -5px;
}